.ui.cards.cards--row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.ui.card.card--app {
  background-color: transparent;
  box-shadow: none;
  min-width: 140px;
  align-items: center;
  padding-top: 10px;
  img {
    width: 48px;
    height: 48px;
  }
  .content {
    border-top: 0 none;
    text-align: left;
  }
}

// card-app img border-radius
.ui.card > :first-child, .ui.cards > .card > :first-child {
  border-radius: 12px !important;
}

// card-app header small font size
.ui.cards > .card.card--app > .content > .header:not(.ui) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
